<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental AI</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/home.css">
</head>

<body>
    <div class="wrapper">
       <header>
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
                <div class="container"><a class="navbar-brand" href="/">
                    <img class="logo" src="assets/img/logo.png"/>
                </a>
                <p class="logo_text">dental AI deep learning</p>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <!-- <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">문제목록</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Q-Lists</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact Us</a></li>
                        </ul><span class="navbar-text actions"> <a href="#" class="login">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span></div> -->
                </div>
            </nav>
       </header>
       <main>
           <div class="start_exp">
                <h1 class="main_title">치과 X-ray 자동 분석 프로그램</h1>
                <h3 class="sub_title">deep learning 통한 AI 가 진단을 도와드립니다.</h3>
                <button class="btn ba-start" role="button" onclick="upload_direct();" >START</button>
           </div>
       </main>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/home.js"></script>
</body>

</html>