img.upload_img{
     margin-top: 20%;
     width: 64px;
     height: 64px;
}

h3.sub_title{
     margin-top: 7px;
     font-size: 1.75rem;
     font-weight: 400;
}

input#input_imgs {
     display: none;
 }

.my_button,
.my_button:hover {
     float: left;
     display: inline-block;
     width: 140px;
     text-align: center;
     background-color: #56c6c6;
     color: #fff;
     text-decoration: none;
     border-radius: 20px;
}

input.text_form{
     float: left;
     width: 50%;
     height: calc(2.25rem + 2px);
     padding: .375rem .75rem;
     font-size: 1rem;
     line-height: 1.5;
     color: #495057;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #ced4da;
     border-radius: 20px;
     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div.upload_input{
     width: 600px;
     margin: auto;
     padding-top: 70px;
}

.btn2,
.btn2:hover
{
     border-radius: 00px 20px 20px 0px;
     background-color: rgba(255, 255, 255, 0.5);
     display: inline-block;
     font-weight: 400;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     border: 1px solid transparent;
     padding: 1px;
     font-size: 1rem;
     line-height: 1.5;
     border-radius: 0px 20px 20px 0px;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group-btn{
     border-radius: 00px 20px 20px 0px;
}

img.file_upload_image{
     height: 36px;
}

input.form-control{
     color: #000;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.5);
     width: 100%;
     height: 40px;
     border-radius: 20px 0px 0px 20px;
     border: 0px solid #ced4da;
}

.input_wrap{
     padding: 0;
     margin: 0;
}

button.ba-sum{
     padding-top: 0;
     padding-bottom: 0px;
     height: 40px;
     font-weight: 600;
     width: 145px;
     color: #fff;
     background: #56c6c6;
     border-radius: 20px;
     font-size: 1.15rem;
}